html {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    font-size: 50px;
    color: aliceblue;
}

.wrapper {
    background: transparent;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.text {
    height: 150px;
    width: 100%;
    border: 1px solid white;
    display: flex;
    position: relative;
}

.box1 {
    height: 300px;
    background-color: salmon;
    width: 200px;
    border: 1px solid white;
    display: flex;
    position: relative;
    margin: auto;
}

.box2 {
    height: 300px;
    background-color: rgb(106, 22, 202);
    width: 100%;
    border: 1px solid white;
    display: flex;
    position: relative;
    align-items: center;
}


.back{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: 5s infinite;
}


.b1 {
    background: linear-gradient(to bottom right, rgb(102, 22, 139) 5%, rgb(107, 16, 46) 25%, rgb(238, 42, 42) 55%, green 75%);
    opacity: 1;
    animation-name: grad1;
}
.b2 {
    background: linear-gradient(to top right, yellow, gray);
    opacity: 0;
    animation-name: grad2;
}
.b3 {
    background: linear-gradient(to left, blue, white);
    opacity: 0;
    animation-name: grad3;
}


@keyframes grad1 {
    50% {
        opacity: 0;
    }
}
@keyframes grad2 {
    33% {
        opacity: 1;
    }
}
@keyframes grad3 {
    66% {
        opacity: 1;
}
}